

<nav id='header' class="bg-dark">
  <h1 class="d-inline"><%= link_to  'The Gossip House', root_url %></h1>
  <div class="header-links">
    <%= link_to 'Posts', posts_path, method: :get, class: 'btn btn-primary' %>
    <% if logged_in? %>
      <%= link_to 'Log out', logout_path, method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'Log in', login_path, method: :get, class: 'btn btn-primary' %>
    <% end %>
  </div>
</nav>